<form id="{{ .Get 0 }}" method="POST" data-netlify="true">
<div class="form-group my-2">
  <input class="form-control w-100" type="text" id="EMAIL" name="EMAIL" aria-describedby="emailHelp" autocomplete="off" placeholder="{{- i18n "your-email" -}}" data-required="true" required />
</div>
<button class="button btn btn-primary w-100" form="{{ .Get 0 }}" type="submit">{{- i18n "subscribe" -}}</button>
<small id="emailHelp" class="form-text text-muted">{{- i18n "privacy-policy-email" | safeHTML -}}</small>
<input type="text" name="email_address_check" value="" class="invisible">
<input type="hidden" name="locale" value="de">
<input type="hidden" name="html_type" value="simple">
</form>

<form class="layout_form cr_form cr_font" action="https://eu2.cleverreach.com/f/273563-271655/wcs/" method="post" target="_blank">
  <div class="cr_body cr_page cr_font formbox">
    <div class="non_sortable">
      
    </div>
    
    <div class="editable_content">
    <div id="5934177" rel="email" class="cr_ipe_item ui-sortable musthave" >
<label for="text5934177" class="itemname">Email*</label> <input id="text5934177" name="email" value="" type="text"  />
</div><div id="5934179" rel="button" class="cr_ipe_item ui-sortable submit_container" >
<button type="submit" class="cr_button">Subscribe</button>
</div>
        </div>
        
  <noscript><a href="http://www.cleverreach.de">www.CleverReach.de</a></noscript>
    </div>
   
</form>