
{{ $id := .Get 0 }}
{{ $action := .Get 1 | default "." }}
{{ $mode := (getenv "HUGO_ENV") | default "stage" }}
<form id="{{- $id -}}" method="POST" action="{{- $action -}}" data-netlify="true" netlify-honeypot="pet_name">
<div class="form-group my-2">
  <input class="form-control w-100" type="text" name="email" id="{{- $id -}}" aria-describedby="{{- $id -}}-emailHelp" autocomplete="off" placeholder="{{- i18n "your-email" -}}" data-required="true" required />
  <div class="m-only"><label for="pet_name">{{- i18n "machines-only" -}}</label><input name="pet_name" aria-describedby="" placeholder="{{- i18n "keep-empty" }}"></div>
</div>
<button class="button btn btn-primary w-100" form="{{- .Get 0 -}}" type="submit">{{- i18n "subscribe" -}}</button>
<small id="{{- $id -}}-emailHelp" class="form-text text-muted">{{- i18n "privacy-policy-email" | safeHTML -}}</small>
<input type="text" name="email_address_check" value="" class="invisible">
<input type="hidden" name="locale" value="de">
<input type="hidden" name="html_type" value="simple">
</form>


