<form id="{{ .Get 0 }}" method="POST" action="{{ .Get 1 }}">
<div class="form-group my-2">
  <input class="form-control w-100" type="text" id="{{ .Get 0 }}-email" name="email" aria-describedby="{{ .Get 0 }}-emailHelp" autocomplete="off" placeholder="{{- i18n "your-email" -}}" data-required="true" required />
</div>
<button class="btn btn-primary text-uppercase w-100" form="{{ .Get 0 }}" type="submit">{{- i18n "subscribe" -}}</button>
<label id="{{ .Get 0 }}-emailHelp" for="{{ .Get 0 }}-email"><small class="form-text text-muted">{{- i18n "privacy-policy-email" | safeHTML -}}</small></label>
<input type="text" name="email_address_check" value="" class="invisible">
<input type="hidden" name="locale" value="de">
<input type="hidden" name="html_type" value="simple">
</form>
