<form id="{{ .Get 0 }}" method="POST" data-netlify="true">
<div class="form-group my-2">
  <input class="form-control w-100" type="text" id="EMAIL" name="EMAIL" aria-describedby="emailHelp" autocomplete="off" placeholder="{{- i18n "your-email" -}}" data-required="true" required />
</div>
<button class="button btn btn-primary w-100" form="{{ .Get 0 }}" type="submit">{{- i18n "subscribe" -}}</button>
<small id="emailHelp" class="form-text text-muted">{{- i18n "privacy-policy-email" | safeHTML -}}</small>
<input type="text" name="email_address_check" value="" class="invisible">
<input type="hidden" name="locale" value="de">
<input type="hidden" name="html_type" value="simple">
</form>
